/* Construccion de estilo para modo claro que es el punto de inicio de nuestro diseno*/

body{
background-color: aliceblue;
color: rgb(6, 5, 5);
transition: background-color 1s,color 1s;
}

body.dark-mode{
background-color: #121212;
color: aliceblue;

}
section.dark-mode{
background-color: #1e1e1e;
color:beige;

}
.section-menu{
background: #333;
color: white;
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;

}
.btn-menu{
font-size: 1.5em;
border: none;
background: none;
color: white;
cursor: pointer;

}
.menu{
display: none;


background: #444;
border-radius: 8px;
padding: 1rem;


}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
margin: 10px 0;

}

.menu.show{
display:block;

}